@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-contenedores{
    background-color: #121212;
}

.bg-portada{
    background-color: #FCFDBE;
}

.respuesta {
    display: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: -10px;
  }
  
  .ocultar:checked ~ .respuesta {
    display: block;
  }

  .ocultar:checked ~ .boton-acordeon img {
    transform: rotate(180deg); 
}

.radius-comunidad{
  border-radius: 20px;
}

.radius-boton{
  border-radius: 100px;
}

.radius-mensaje{
  border-radius: 10px;
}

.radius-categoria{
  border-radius: 16px;
}

.shadow-2xl {
  box-shadow: 0 70px 50px -12px rgba(0, 0, 0, 0.25);
}
